/* GENERAL */
.flex-row,
.flex-col {
    display: flex;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.card {
    border-radius: 12px;
    border: 1.5px solid #CCCCCC;
}

/* SCROLLBAR ANIMATION*/
body::-webkit-scrollbar,
.comment-form-textarea::-webkit-scrollbar,
.comment-container__inner::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb,
.comment-form-textarea::-webkit-scrollbar-thumb,
.comment-container__inner::-webkit-scrollbar-thumb {
    background-color: rgb(105, 97, 97);
    border-radius: 20px;
}