* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: var(--font-theme);
}

:root {
    --theme-black: rgb(45, 44, 44);
    --theme-gray: rgb(161, 149, 149);
    --theme-white: whitesmoke;
    --font-theme: Arial, Helvetica, sans-serif;
}

html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    min-height: 100%;
    width: 100%;
    background-color: var(--theme-black);
}